body {
    font-family: 'Montserrat', sans-serif;
  }
  
  a{
    width: 100px;
    text-decoration: none;
    margin: 30px 15px;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #000;
    color: #fff;
  }
  
  a:hover{
    opacity: 0.8;  
  }